services:
  loanflow.api:
    image: ${DOCKER_REGISTRY-}loanflowapi
    build:
      context: .
      dockerfile: LoanFlow/Dockerfile
    ports:
      - "5100:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Database__ConnectionString: "Host=postgres;Database=loanflow;Username=loanuser;Password=loanpass"
      Database__AutoMigrate: "true"
      RabbitMQ__Host: rabbitmq
      RabbitMQ__Username: guest
      RabbitMQ__Password: guest
    depends_on:
      - postgres
      - rabbitmq